@model Dictionary<string, IEnumerable<string>>

@{
    ViewData["Title"] = "Roles";
}

<table class="table table-striped table-bordered table-sm">
    <tr>
        <th>Role name</th>
        <th>User Names</th>
    </tr>
    @foreach (var role in Model.Keys)
    {
        <tr>
            <td>@role
                <form class="text-center" asp-action="DeleteRole" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning">
                        Edit
                    </a>
                    <input type="hidden" name="roleName" value="@role" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>

            @foreach (var user in Model[role])
            {
                <td>@user
                    <form class="text-center" asp-action="DeleteUserFromRole" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning">
                            Edit
                        </a>
                        <input type="hidden" name="roleName" value="@role" />
                        <input type="hidden" name="userName" value="@user" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            }
        </tr>
    }
</table>
